header{
    background-color: #95b8f6;
    .nav{
        max-width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 4em;
        }
        label{
            input{
                width: 20rem;
                height: 2rem;
                border-radius: 0.5rem;
                border: 0;
                outline: none;
                padding: 0 0.5rem;
            }
        }
        .nav__list{
            display: flex;
            .nav__list__item{
                font-size: 1.6em;
                padding: 1rem;
                color: white;
                font-weight: 900;
                transition: background-color 0.5s;
                &:hover{
                    background-color: #607495;
                    cursor: pointer;
                }
            }
        }
    }
}

main{
    .destacados{
        margin-top: 4em;
        &__top{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                font-size: 3em;
            }
            .pets{
                margin-top: 2em;
                display: flex;
                gap: 2em;
                .pets__choice{
                    padding: 1em;
                    font-size: 1.5em;
                    border: 2px solid white;
                    transition: border-color 1s ease;
                    &:hover{
                        border-color: black;
                        cursor: pointer;
                    }
                }
            }
        }
        .conteiner{
            margin: 3rem auto 0 auto;
            max-width: 80%;
            #conteiner__productos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .product{
                    padding: 1em;
                    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
                    margin-bottom: 1em;
                    transition: box-shadow 0.5s;
                    width: 23em;
                    &:hover{
                        box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
                        cursor: pointer;
                    }
                    div{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 15em;
                            height: 15em;
                        }
                    }
                    h2{
                        font-size: 1.2em;
                        margin: 0.5em 0;
                    }
                    .datos{
                        display: flex;
                        justify-content: space-between;
                    }
                    label{
                        display: flex;
                        justify-content: center;
                        button{
                            border: none;
                            padding: 0.3em 0.5em;
                            margin-top: 0.4em;
                            background-color:#95b8f6;
                            color: white;
                            font-weight: bold;
                            text-transform: uppercase;
                            transition: background-color 0.3s;
                            &:hover{background-color: #607495;}
                        }
                    }
                }
            }   
        }
    }
    .card__carrito{
        width: 25em;
        margin: 3em auto;
        border: 2px solid black;
        border-radius: 4px;
        padding: 3em 1em;
        .carrito-datos{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 1.2em;
            }
            span{
                font-weight: bold;
                font-size: 1.5em;
                margin: 0.5em 0;
            }
            button{
                border: none;
                padding: 0.3em 0.5em;
                background-color:#95b8f6;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
    li{
        font-weight: 900;
        padding: 0.5em;
        font-size: 1.2em;
        color: white;
    }
    .contactos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        a{
            color: white;
            transition: color 0.5s;
            &:hover{
                color: gray;
            }
        }
    }
}

