body {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

header {
  background-color: #95b8f6; }
  header .nav {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .nav .logo {
      width: 4em; }
    header .nav label input {
      width: 20rem;
      height: 2rem;
      border-radius: 0.5rem;
      border: 0;
      outline: none;
      padding: 0 0.5rem; }
    header .nav .nav__list {
      display: flex; }
      header .nav .nav__list .nav__list__item {
        font-size: 1.6em;
        padding: 1rem;
        color: white;
        font-weight: 900;
        transition: background-color 0.5s; }
        header .nav .nav__list .nav__list__item:hover {
          background-color: #607495;
          cursor: pointer; }

main .destacados {
  margin-top: 4em; }
  main .destacados__top {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .destacados__top .title {
      font-size: 3em; }
    main .destacados__top .pets {
      margin-top: 2em;
      display: flex;
      gap: 2em; }
      main .destacados__top .pets .pets__choice {
        padding: 1em;
        font-size: 1.5em;
        border: 2px solid white;
        transition: border-color 1s ease; }
        main .destacados__top .pets .pets__choice:hover {
          border-color: black;
          cursor: pointer; }
  main .destacados .conteiner {
    margin: 3rem auto 0 auto;
    max-width: 80%; }
    main .destacados .conteiner #conteiner__productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main .destacados .conteiner #conteiner__productos .product {
        padding: 1em;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 1em;
        transition: box-shadow 0.5s;
        width: 23em; }
        main .destacados .conteiner #conteiner__productos .product:hover {
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
          cursor: pointer; }
        main .destacados .conteiner #conteiner__productos .product div {
          display: flex;
          justify-content: center; }
          main .destacados .conteiner #conteiner__productos .product div img {
            width: 15em;
            height: 15em; }
        main .destacados .conteiner #conteiner__productos .product h2 {
          font-size: 1.2em;
          margin: 0.5em 0; }
        main .destacados .conteiner #conteiner__productos .product .datos {
          display: flex;
          justify-content: space-between; }
        main .destacados .conteiner #conteiner__productos .product label {
          display: flex;
          justify-content: center; }
          main .destacados .conteiner #conteiner__productos .product label button {
            border: none;
            padding: 0.3em 0.5em;
            margin-top: 0.4em;
            background-color: #95b8f6;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.3s; }
            main .destacados .conteiner #conteiner__productos .product label button:hover {
              background-color: #607495; }

main .card__carrito {
  width: 25em;
  margin: 3em auto;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3em 1em; }
  main .card__carrito .carrito-datos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .card__carrito .carrito-datos p {
      font-size: 1.2em; }
    main .card__carrito .carrito-datos span {
      font-weight: bold;
      font-size: 1.5em;
      margin: 0.5em 0; }
    main .card__carrito .carrito-datos button {
      border: none;
      padding: 0.3em 0.5em;
      background-color: #95b8f6;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 4em 0; }
  footer li {
    font-weight: 900;
    padding: 0.5em;
    font-size: 1.2em;
    color: white; }
  footer .contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; }
    footer .contactos a {
      color: white;
      transition: color 0.5s; }
      footer .contactos a:hover {
        color: gray; }
